---
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

interface CardData {
  title: string;
  description: string;
  pubDatetime: Date;
  modDatetime?: Date | null;
}

export interface Props {
  variant?: "h2" | "h3";
  id: string;
  data: CardData;
  filePath?: string;
}

const { variant: Heading = "h2", id, data, filePath } = Astro.props;
---

<li class="my-6">
  <a
    href={getPath(id, filePath)}
    class:list={[
      "inline-block text-lg font-medium text-accent",
      "decoration-dashed underline-offset-4 hover:underline",
      "focus-visible:no-underline focus-visible:underline-offset-0",
    ]}
  >
    <Heading
      style={{ viewTransitionName: slugifyStr(data.title.replaceAll(".", "-")) }}
    >
      {data.title}
    </Heading>
  </a>
  <Datetime pubDatetime={data.pubDatetime} modDatetime={data.modDatetime} />
  <p>{data.description}</p>
</li>